<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DataGlow</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li ng-show="authenticated">-->
                <!--&lt;!&ndash;<a [routerLink]="['Reports']">Reports</a>&ndash;&gt;-->
                <!--</li>-->
                <!--<li ng-show="authenticated">-->
                <!--&lt;!&ndash;<a [routerLink]="['Data']">Data</a>&ndash;&gt;-->
                <!--</li>-->
                <!--<li ng-show="authenticated">-->
                <!--&lt;!&ndash;<a [routerLink]="['Events']">Events</a>&ndash;&gt;-->
                <!--</li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!securityService.isAuthenticated()">
                    <a [routerLink]="['Login']">Sign In</a>
                </li>
                <li *ngIf="securityService.isAuthenticated()">
                <a (click)="securityService.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <hr/><hr/><hr/><hr/>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>